<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">    <script src="/static/js/highcharts.js"></script>
        <script src="/static/js/highcharts-more.js"></script>
        <script src="/static/js/solid-gauge.js"></script>
        <!--<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>-->
        <script src="/static/js/jquery-3.1.1.min.js"></script>
       <script src="/static/js/dark-unica.js"></script>

<style type="text/css">
		<!--
       @font-face {
        font-family: "ericsson_capital";
        src: url('/static/fonts/EricssonHilda/EOT/EricssonHilda-Regular.eot');
        src: url('/static/fonts/EricssonHilda/EOT/EricssonHilda-Regular.eot?#iefix') format('embedded-opentype'),
              url('/static/fonts/EricssonHilda/Woff/EricssonHilda-Regular.woff') format('woff'),
              url('/static/fonts/EricssonHilda/TTF/EricssonHilda-Regular.ttf') format('truetype'),
              url('/static/fonts/ericssoncapitaltt-webfont.svg#ericsson_capital_ttregular') format('svg');
         font-weight: normal;
         font-style: normal;
       }
       #h1
       {
         font-family:"ericsson_capital";
         font-size: 80px;
         color:#000000;
       }
	   -->
       body{
         background-color:black;
      
       }


     </style>


</head>
<body>

    <div style="position:absolute; z-index:99999; right:0px;top:0px; border:#000 solid 1px width:0px; height:0px">
        <img src="/static/img/dl4.png" width=235px height=54px; style=" position:absolute; right:905px;top:235px;"/>
		<img src="/static/img/ltelogo.png" width=100px height=100px; style=" position:absolute; right:1230px;top:250px;"/>
    </div>
	
    <div style="position:absolute; z-index:99999; right:0px;top:0px; border:#000 solid 1px width:0px; height:0px">
        <img src="/static/img/dl4.png" width=235px height=54px; style=" position:absolute; right:245px;top:235px;"/>
		<img src="/static/img/5glogo.png" width=100px height=100px; style=" position:absolute; right:560px;top:250px;"/>
    </div>
	
<div> 
	<h1 class="text-center" id="h1" background="#f00" align="right" style="display: inline"><font color="white">ERICSSON 5G</font></h1>
	<img src="/static/img/3gpplogo.png" width=100 height=70 align="right" style="margin:35px 10px"/>
	<img src="/static/img/EICON/Vertical Lockup/White/SVG/ERI_vertical_RGB.svg" width=60 height=60 align="right" style="margin:35px 10px"/>
	<img src="/static/img/INTELlogo.jpg" width=98 height=65 align="right" style="margin:35px 5px"/>
	<img src="/static/img/CMCClogo.png" width=65 height=65 align="right" style="margin:35px 15px"/>

	<div style="width: 100%; height: 100%; margin: 0 auto">
	  <div id="container-speed-4G" style="width: 49%; height: 310px; float: left; margin:139px auto"></div>
	  <!-- 等高 margin:95px auto--> 
	  <div id="container-speed-5G" style="width: 49%; height: 310px; float: right; margin:95px auto"></div>
<!--
	  <div id="video" style="width: 49%; height: 500px; float:right">	  
		<video autoplay="autoplay" loop="loop" align: top> 
		  <source id="video_src" src="/static/video/celloff.mp4" type="video/mp4">
		</video>		
	  </div>
-->
	</div>
</div>



<script>
		
// DL Speed 4G
var chart4G = Highcharts.chart('container-speed-4G', {
	    chart: {
	  	type: 'solidgauge',
	  },
	  title: {
	  	text: null,
	  	},
		pane: {
				center: ['50%', '85%'],
				size: '150%',
				startAngle: -90,
				endAngle: 90,
				background: {
						backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEEEEE',
						innerRadius: '60%',
						outerRadius: '100%',
						shape: 'arc'
				}
		},
		tooltip: {
				enabled: false
		},
		yAxis: {
				min: 0,
				max: 2.5,
				title: {
						text: 'DL Speed'
				},
				stops: [
						[1, '#55BF3B'], // green
						[1.5, '#55BF3B'], // yellow
						[2, '#55BF3B'] // red
				],
				lineWidth: 0,
				minorTickInterval: null,
				tickPixelInterval: 200,
				tickWidth: 0,
				title: {
						y: -70
				},
				labels: {
						y: 10
				}
		},
		plotOptions: {
				solidgauge: {
						dataLabels: {
								y: 5,
								borderWidth: 0,
								useHTML: true
						}
				}
		},
		credits: {
				enabled: false
		},
		series: [{
				name: 'Speed',
				data: [0],
				dataLabels: {
						format: '<div style="text-align:center"><span style="font-size:25px;color:' +
						((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
						'<span style="font-size:12px;color:silver">Gbps</span></div>'
				},
				tooltip: {
						valueSuffix: ' Gbps'
				}
		}]
});


// DL Speed 5G
var chart5G = Highcharts.chart('container-speed-5G', {
	    chart: {
	  	type: 'solidgauge',
	  },
	  title: {
	  	text: null,
	  	},
		pane: {
				center: ['50%', '85%'],
				size: '150%',
				startAngle: -90,
				endAngle: 90,
				background: {
						backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEEEEE',
						innerRadius: '60%',
						outerRadius: '100%',
						shape: 'arc'
				}
		},
		tooltip: {
				enabled: false
		},
		yAxis: {
				min: 0,
				max: 2.5,
				title: {
						text: 'DL Speed'
				},
				stops: [
						[1, '#55BF3B'], // green
						[1.5, '#55BF3B'], // yellow
						[2, '#55BF3B'] // red
				],
				lineWidth: 0,
				minorTickInterval: null,
				tickPixelInterval: 200,
				tickWidth: 0,
				title: {
						y: -70
				},
				labels: {
						y: 10
				}
		},
		plotOptions: {
				solidgauge: {
						dataLabels: {
								y: 5,
								borderWidth: 0,
								useHTML: true
						}
				}
		},
		credits: {
				enabled: false
		},
		series: [{
				name: 'Speed',
				data: [0],
				dataLabels: {
						format: '<div style="text-align:center"><span style="font-size:25px;color:' +
						((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
						'<span style="font-size:12px;color:silver">Gbps</span></div>'
				},
				tooltip: {
						valueSuffix: ' Gbps'
				}
		}]
});


// Refresh data


function activeLastPointToolip(chart) {
		var points = chart.series[0].points;
		chart.tooltip.refresh(points[points.length -1]);
}

</script>
<script type="text/javascript">
 var screenTimer = Object();
 var intervalTime = 50;
// var video_statue = "celloff"
 function DisplayConfg(){
 	 $.ajax({
 	   method: "POST",
 	   url : "/cfgdata/",
 	 }).done(function(cfgdata){


 	 	//console.log(cfgdata)
		var point,
				newVal,
				inc;
		if (chart4G) {
				point = chart4G.series[0].points[0];
				inc = Math.round((Math.random() - 0.5) * 100);
				newVal = cfgdata[0].dltput4G;
				point.update(parseFloat(newVal));
		}
		if (chart5G) {
				point = chart5G.series[0].points[0];
				inc = Math.round((Math.random() - 0.5) * 100);
				newVal = cfgdata[1].dltput5G;
				point.update(parseFloat(newVal));
		}
 	 	});
 	
 	}

	function start_monitor(){
		screenTimer = setInterval(DisplayConfg,intervalTime);
		}
	
	function addLoadEvent(func){
		var oldonload = window.onload;
		if (typeof window.onload != "function"){
			window.onload = func;
			}else{
				window.onload = function(){
					oldonload();
					func();
					}
				}
		}
		
		addLoadEvent(start_monitor);
		addLoadEvent(DisplayConfg);
</script>

</body>
</html>
